/* */

.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center; /* Move the text to the right */
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px;
  margin-bottom: 10px;
  line-height: 48px;
  padding: 0 15px;
  border-radius: 15px;
  transition: 0.5s;
}

.wallet-adapter-button-trigger {
  background-color: rgba(108,39,255,255);
  border: none;
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: white;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #42199c;
}

.wallet-adapter-button[disabled] {
  background: #404144;
  color: #999;
  border: none;
  cursor: not-allowed;
}

.wallet-adapter-button-end-icon,
.wallet-adapter-button-start-icon,
.wallet-adapter-button-end-icon img,
.wallet-adapter-button-start-icon img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}

.wallet-adapter-button-end-icon {
  margin-left: 12px;
}

.wallet-adapter-button-start-icon {
  margin-right: 12px;
  margin-bottom: auto;
}

.wallet-adapter-collapse {
  width: 100%;
}

.wallet-adapter-dropdown {
  position: relative;
  display: inline-block;
}

.wallet-adapter-dropdown-list {
  position: absolute;
  z-index: 99;
  display: grid;
  grid-template-rows: 1fr;
  grid-row-gap: 10px;
  padding: 10px;
  top: 100%;
  right: 0;
  margin: 0;
  list-style: none;
  background: #2c2d30;
  border-radius: 10px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease, transform 200ms ease, visibility 200ms;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.wallet-adapter-dropdown-list-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(10px);
}

.wallet-adapter-dropdown-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  height: 37px;
  color: #fff;
}

.wallet-adapter-dropdown-list-item:not([disabled]):hover {
  background-color: #1a1f2e;
}

.wallet-adapter-modal-collapse-button svg {
  align-self: center;
  fill: #999;
}

.wallet-adapter-modal-collapse-button.wallet-adapter-modal-collapse-button-active svg {
  transform: rotate(180deg);
  transition: transform ease-in 150ms;
}

.wallet-adapter-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity linear 150ms;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1040;
  overflow-y: auto;
}

.wallet-adapter-modal.wallet-adapter-modal-fade-in {
  opacity: 1;
}

.wallet-adapter-modal-button-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 18px;
  right: 18px;
  padding: 12px;
  cursor: pointer;
  background: #1a1f2e;
  border: none;
  border-radius: 50%;
}

.wallet-adapter-modal-button-close:focus-visible {
  outline-color: white;
}

.wallet-adapter-modal-button-close svg {
  fill: #777;
  transition: fill 200ms ease 0s;
}

.wallet-adapter-modal-button-close:hover svg {
  fill: #fff;
}

.wallet-adapter-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.wallet-adapter-modal-container {
  display: flex;
  margin: 3rem;
  min-height: calc(100vh - 6rem); /* 100vh - 2 * margin */
  align-items: center;
  justify-content: center;
}

@media (max-width: 480px) {
  .wallet-adapter-modal-container {
      margin: 1rem;
      min-height: calc(100vh - 2rem); /* 100vh - 2 * margin */
  }
}

.wallet-adapter-modal-wrapper {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1050;
  max-width: 400px;
  border-radius: 10px;
  background: #10141f;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.6);
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  flex: 1;
}

.wallet-adapter-modal-wrapper .wallet-adapter-button {
  width: 100%;
}

.wallet-adapter-modal-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 64px 48px 48px 48px;
  text-align: center;
  color: #fff;
}

@media (max-width: 374px) {
  .wallet-adapter-modal-title {
      font-size: 18px;
  }
}

.wallet-adapter-modal-list {
  margin: 0 0 12px 0;
  padding: 0;
  width: 100%;
  list-style: none;
}

.wallet-adapter-modal-list .wallet-adapter-button {
  font-weight: 400;
  border-radius: 0;
  font-size: 18px;
}

.wallet-adapter-modal-list .wallet-adapter-button-end-icon,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon,
.wallet-adapter-modal-list .wallet-adapter-button-end-icon img,
.wallet-adapter-modal-list .wallet-adapter-button-start-icon img {
  width: 28px;
  height: 28px;
}

.wallet-adapter-modal-list .wallet-adapter-button span {
  margin-left: auto;
  font-size: 14px;
  opacity: .6;
}

.wallet-adapter-modal-list-more {
  cursor: pointer;
  border: none;
  padding: 12px 24px 24px 12px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #fff;
}

.wallet-adapter-modal-list-more svg {
  transition: all 0.1s ease;
  fill: rgba(255, 255, 255, 1);
  margin-left: 0.5rem;
}

.wallet-adapter-modal-list-more-icon-rotate {
  transform: rotate(180deg);
}

.wallet-adapter-modal-middle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 24px 24px 24px;
  box-sizing: border-box;
}

.wallet-adapter-modal-middle-button {
  display: block;
  cursor: pointer;
  margin-top: 48px;
  width: 100%;
  background-color: #512da8;
  padding: 12px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  color: #fff;
}

/* */

.trade-cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.trade-card {
  background-color: #110f11a2;
  border-radius: 20px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 30px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

button.copy-button {
  background-color: #6c35ff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

button.copy-button:hover {
  background-color: #4a1b9b;
}

p.copy-message {
  margin-top: 8px;
  color: #4a1b9b;
  font-weight: bold;
}

.status-container {
  margin-bottom: 20px;
  text-align: center;
}

.status-animation {
  font-size: 18px;
  font-weight: bold;
}

.status-text {
  animation: statusChange 2s infinite alternate;
}

@keyframes statusChange {
  0% {
    color: #f52d2d;
  }
  100% {
    color: #dd6232;
  }
}

.wallet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.wallet {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.wallet-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.wallet-text {
  font-size: 14px;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.copy-button, .confirm-button, .cancel-button {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s, color 0.3s;
}

.wallet-text {
  font-size: 14px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.wallet-link {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  cursor: pointer;
}

.wallet-link:hover .wallet-text {
  text-decoration: underline;
}

.wallet-link:link,
.wallet-link:visited {
  color: inherit;
}


.wallet-text[title]:hover::after {
  content: attr(title);
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 5px;
  border-radius: 5px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
  z-index: 1;
  white-space: normal;
  width: auto;
  max-width: 300px;
}

.copy-button {
  background-color: #3498db;
  color: white;
}

.confirm-button,
.cancel-button {
  background-color: #27ae60;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #e74c3c;
}

.copy-button:hover, .confirm-button:hover, .cancel-button:hover {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid currentColor;
}

.trade-card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

.funds-button {
  background-color: rgba(255, 217, 0, 0.747);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.funds-button:hover {
  background-color: #ffd700; 
}

.trade-card-icon {
  font-size: 3rem;
  color: #6c35ff; 
  margin-bottom: 15px;
}

.trade-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.trade-card-description {
  font-size: 1rem;
  margin-bottom: 20px;
}

.trade-card-status {
  font-size: 0.9rem;
  color: #a0aec0;
}

.trade-card-icons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.trade-card-icons i {
  font-size: 1.5rem;
  color: #a0aec0;
  cursor: pointer;
  transition: color 0.3s;
}

.trade-card-icons i:hover {
  color: #6c35ff;
}

.green-checkmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto; 
}

.green-checkmark img {
  width: 80px;
  height: 80px;
}

.dashboard-data p {
  font-size: 16px;
  position: center;
  margin: 10px 0;
}

.dashboard-data a {
  color: #007bff;
}

.animation-text {
  font-size: 1rem;
  color: #FFFF;
  margin-top: 0.5rem;
}


.loading-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #6c35ff;
  margin: 0 5px;
  opacity: 0.5;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.5;
  }
}


.heading-main {
  font-size: 30px;
  
  font-weight: bold;
  justify-content: center;
  text-align: center;
  
}

.powered-by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-size: 14px;
  color: #a0a0a0;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13px;
  margin-left: 3px;
}
.swap-animation {
  width: 70px;
  height: auto;
}

.logo {
  margin: 0 5px;
}

.logo1 {
  width: 20px;
  height: 20px;
}

.logo2 {
  width: 50px;
  height: 50px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.trading-code-box {
 
  position: center;
  align-items: flex-start;
}

.trading-code-text {
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 20px;
}

.trading-code-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #5f5ecd;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
}

.trading-code-input::placeholder {
  color: #888888;
}

.trading-code-btn:hover {
  background-color: #3d3da2;
}

.small-text {
  font-size: 14px;
  color: #888888;
  margin-top: 8px; 
}

.small-text a {
  color: #5f5ecd;
  text-decoration: underline;
}

.new-trade-button {
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  background-color: #7e42fb;
  color: #fff;
  margin-top: 20px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    animation: glow 1s ease-in-out infinite;
  }
}


.custom-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 8px;
  background-color: #7e42fb;
  color: #fff;
  margin-top: 0px; 
  font-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.2s ease-in-out;

  &:hover {
    animation: glow 1s ease-in-out infinite;
  }
}

@keyframes glow {
  0% {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  }
  50% {
    box-shadow: 0 0 20px rgba(87, 87, 88, 0.8);
  }
  100% {
    box-shadow: 6px 6px 0 rgba(0, 0, 0, 0.3);
  }
}

.settings-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  
  top: 0;
  right: 0;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
}

.data-point:hover .settings-icon {
  opacity: 1; 
}

.settings-icon-container {
  display: flex;
  position: relative;
  align-items: flex-start;
}

.settings-icon {
  margin-left: auto;
  cursor: pointer;
}

.info-box {
  position: absolute;
  top: -20px;
  right: 10px; 
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 2;
  display: none; 
}

.data-box:hover .info-box {
  display: block;
}

.settings-icon:hover + .info-box {
  display: block;
}

.swap-modal h1 {
  font-size: 50px;
  color: #ffffff;
}

.token-list {
  margin-top: 50px;
  justify-content: space-between;
  align-items: space-between;
}
.swap-menu.selected {
  background-color: black;
  color: #ffffff;
}

.swap-icon-left {
  width: 40px;
  align-items: space-between;
  height: auto;
}

.swap-icon-right {
  width: 40px;
  align-items: space-between;
  height: auto;
}

/* Style for the label "Select a token" */
.token-list label {
  font-size: 16px;
 
  margin-bottom: 100px;
  color: #a8a8a8;
}

/* Style for the token select dropdown */
.token-list select {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: transparent;
  font-size: 16px;
  color: #ffffff;
}

/* Style for the option label (both icon and name) */
.custom-select .option {
  display: flex;
  align-items: center;
  background: transparent !important; /* Ensure transparency */
  padding: 8px; /* Add padding for spacing */
  color: white; /* Text color */
}


/* Style for the icon in each option */
.custom-select .option img {
  width: 24px;
  margin-right: 8px;
}

/* Style for the name of the token in each option */
.custom-select .option span {
  font-size: 16px;
  color: white; /* Text color */
}

/* Style for the selected value (placeholder or selected option) */
.custom-select .single-value {
  display: flex;
  align-items: center;
  background: transparent; /* Set the background color to transparent */
}

/* Style for the arrow icon in the select */
.custom-select .indicator {
  color: white; /* Arrow icon color */
}
/* Style for the image */
.token-list img {
  max-width: 100px; /* Adjust the size as needed */
  margin-top: 10px;
}

/* Style for the input field */
.token-list input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  background-color: transparent;
  margin-top: 10px;
}

/* Style for the paragraph displaying SOL after swap */
.token-list p {
  font-size: 18px;
  color: #ffffff;
  margin-top: 10px;
}

/* Style for the confirmation button */
.token-list button {
  background-color: #1cbd65;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease; /* Add a smooth transition effect */
}

.token-list button:hover {
  background-color: #12723d;
}

.close-button {
  position: absolute;
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center; /* Move the text to the right */
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 48px;
  transition: 0.5s;
  bottom: 10px; /* Adjust the desired distance from the bottom */
  right: 10px; /* Adjust the desired distance from the right */
}

/* Style for the loading message */
.token-list p.loading-message {
  color: #555;
  font-style: italic;
}

.swap-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 600px;
  width: 600px;
  position: center;
  transform: translate(-50%, -50%);
  
  padding: 2rem; 
  backdrop-filter: blur(10px);
  background: #050405;
  border: none; 
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.left-icon {
  max-width: 100px; /* Adjust the size as needed */
}

/* Style for the "For" text */
.for {
  font-size: 20px;
  margin-bottom: -15px;
  color: #ffffff; /* Adjust the color as needed */
}

/* Style for the right icon (SOL) */
.right-icon {
  max-width: 100px; /* Adjust the size as needed */
}

.dashboard-modal {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 52%;
  width: 30%;
  position: center;
  transform: translate(-50%, -50%);
  
  padding: 2rem; 
  backdrop-filter: blur(10px);
  background: #050405;
  border: none; 
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dashboard-amount {
  position: absolute;
  top: 45%;
  left: 50%;
  height: 52%;
  width: 30%;
  position: center;
  transform: translate(-50%, -50%);
  
  padding: 2rem; 
  backdrop-filter: blur(10px);
  background: #110f11a2;
  border: none; 
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.heading-main {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
  align-items: center;
  margin-bottom: 20px;
}

.loading-animation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px; 
  font-size: 24px;
  color: #7e42fb;
  animation: loading-dots 1s infinite;
}


@keyframes loading-dots {
  0% {
    content: ".";
  }
  50% {
    content: "..";
  }
  100% {
    content: "...";
  }
}

.dashboard-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.data-box {
  padding: 2rem; 
  backdrop-filter: blur(10px);
  background: linear-gradient(135deg, #161115, #0f0a0d); 
  border: none; 
  left: 50%;
  width: 500px;
  margin: 0 auto; 
  border-radius: 20px; 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2); 
  text-align: center; 
  color: #ffffff; 
}


.data-point {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.data-input {
  width: 100%;
  padding: 10px;
  border: 2px solid #5f5ecd;
  border-radius: 5px;
  margin: 5px 0;
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
}

.data-input::placeholder {
  color: #888888;
}

.data-icon {
  width: 50px; 
  height: 50px; 
  justify-content: center;
  align-items: center;
 
}

.data-title {
  font-size: 14px;
  font-weight: normal;
  justify-content: center;
  align-items: center;
}

.button-spacer {
 margin-right: 10px;
}


.data-text,
.data-link {
  font-size: 16px;
  font-weight: bold; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-main-container {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

.is-flex-justify-center {
  display: flex;
  justify-content: center;
}

.is-uppercase {
  text-transform: uppercase;
}

.u-margin-top_large {
  margin-top: -1%; 
}

.centered-image {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.centered-text {
  display: flex;
  justify-content: center;
}

.block-list-container {
  display: flex;
  justify-content: space-between;
}

.speed-modal .MuiFormControl-root {
  width: 100%;
  justify-content: center; 
  margin-bottom: 20px;
}

.speed-modal .MuiFormLabel-root {
  justify-content: center; 
  color: #333; 
}

.speed-modal .MuiFilledInput-root {
  background-color: #fff;
  color: #333; 
  justify-content: center;
  border-radius: 5px;
  padding: 10px;
}

.speed-modal .MuiInput-underline:before {
  border-bottom: none;
  justify-content: center; 
}


.speed-modal-sizing-guide {
  text-align: center;
  justify-content: center;
  color: #ccc;
  margin-top: 20px;
}

.speed-modal-sizing-guide-text {
  font-size: 0.8rem;
  justify-content: center;
  border-bottom: dotted;
}
